<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.education.dao.BookContentMapper" >
  <resultMap id="BaseResultMap" type="com.education.pojo.BookContent" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="bookId" property="bookid" jdbcType="INTEGER" />
    <result column="userId" property="userid" jdbcType="INTEGER" />
    <result column="contentVal" property="contentval" jdbcType="VARCHAR" />
    <result column="contentDate" property="contentdate" jdbcType="TIMESTAMP" />
    <result column="spare1" property="spare1" jdbcType="VARCHAR" />
    <result column="spare2" property="spare2" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, bookId, userId, contentVal, contentDate, spare1, spare2
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.education.pojo.BookContentExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from bookcontent
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from bookcontent
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from bookcontent
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.education.pojo.BookContentExample" >
    delete from bookcontent
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.education.pojo.BookContent" >
    insert into bookcontent (id, bookId, userId, 
      contentVal, contentDate, spare1, 
      spare2)
    values (#{id,jdbcType=INTEGER}, #{bookid,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, 
      #{contentval,jdbcType=VARCHAR}, #{contentdate,jdbcType=TIMESTAMP}, #{spare1,jdbcType=VARCHAR}, 
      #{spare2,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.education.pojo.BookContent" >
    insert into bookcontent
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="bookid != null" >
        bookId,
      </if>
      <if test="userid != null" >
        userId,
      </if>
      <if test="contentval != null" >
        contentVal,
      </if>
      <if test="contentdate != null" >
        contentDate,
      </if>
      <if test="spare1 != null" >
        spare1,
      </if>
      <if test="spare2 != null" >
        spare2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="bookid != null" >
        #{bookid,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="contentval != null" >
        #{contentval,jdbcType=VARCHAR},
      </if>
      <if test="contentdate != null" >
        #{contentdate,jdbcType=TIMESTAMP},
      </if>
      <if test="spare1 != null" >
        #{spare1,jdbcType=VARCHAR},
      </if>
      <if test="spare2 != null" >
        #{spare2,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <select id="getAllBookContent"  resultType="java.util.HashMap" >
select c.id as bookContentId,c.contentVal,c.contentDate,b.id as bookId,b.name as bookName,
p.id as userId,p.name as userName
from bookcontent c
left join book b on b.id = c.bookId
left join person p on p.id = c.userId
  </select>
  
  <select id="countByExample" parameterType="com.education.pojo.BookContentExample" resultType="java.lang.Integer" >
    select count(*) from bookcontent
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update bookcontent
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.bookid != null" >
        bookId = #{record.bookid,jdbcType=INTEGER},
      </if>
      <if test="record.userid != null" >
        userId = #{record.userid,jdbcType=INTEGER},
      </if>
      <if test="record.contentval != null" >
        contentVal = #{record.contentval,jdbcType=VARCHAR},
      </if>
      <if test="record.contentdate != null" >
        contentDate = #{record.contentdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.spare1 != null" >
        spare1 = #{record.spare1,jdbcType=VARCHAR},
      </if>
      <if test="record.spare2 != null" >
        spare2 = #{record.spare2,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update bookcontent
    set id = #{record.id,jdbcType=INTEGER},
      bookId = #{record.bookid,jdbcType=INTEGER},
      userId = #{record.userid,jdbcType=INTEGER},
      contentVal = #{record.contentval,jdbcType=VARCHAR},
      contentDate = #{record.contentdate,jdbcType=TIMESTAMP},
      spare1 = #{record.spare1,jdbcType=VARCHAR},
      spare2 = #{record.spare2,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.education.pojo.BookContent" >
    update bookcontent
    <set >
      <if test="bookid != null" >
        bookId = #{bookid,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        userId = #{userid,jdbcType=INTEGER},
      </if>
      <if test="contentval != null" >
        contentVal = #{contentval,jdbcType=VARCHAR},
      </if>
      <if test="contentdate != null" >
        contentDate = #{contentdate,jdbcType=TIMESTAMP},
      </if>
      <if test="spare1 != null" >
        spare1 = #{spare1,jdbcType=VARCHAR},
      </if>
      <if test="spare2 != null" >
        spare2 = #{spare2,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.education.pojo.BookContent" >
    update bookcontent
    set bookId = #{bookid,jdbcType=INTEGER},
      userId = #{userid,jdbcType=INTEGER},
      contentVal = #{contentval,jdbcType=VARCHAR},
      contentDate = #{contentdate,jdbcType=TIMESTAMP},
      spare1 = #{spare1,jdbcType=VARCHAR},
      spare2 = #{spare2,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>