<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.education.dao.BorrowMapper" >
  <resultMap id="BaseResultMap" type="com.education.pojo.Borrow" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="certNo" property="certno" jdbcType="VARCHAR" />
    <result column="educationId" property="educationid" jdbcType="INTEGER" />
    <result column="borrowDate" property="borrowdate" jdbcType="TIMESTAMP" />
    <result column="returnDate" property="returndate" jdbcType="TIMESTAMP" />
    <result column="realDate" property="realdate" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="spare1" property="spare1" jdbcType="VARCHAR" />
    <result column="spare2" property="spare2" jdbcType="VARCHAR" />
    <result column="spare3" property="spare3" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, certNo, educationId, borrowDate, returnDate, realDate, status, spare1, spare2, spare3
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.education.pojo.BorrowExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from borrow
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from borrow
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from borrow
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.education.pojo.BorrowExample" >
    delete from borrow
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.education.pojo.Borrow" >
    insert into borrow (id, certNo, educationId, 
      borrowDate, returnDate, realDate, 
      status, spare1, spare2, 
      spare3)
    values (#{id,jdbcType=INTEGER}, #{certno,jdbcType=VARCHAR}, #{educationid,jdbcType=INTEGER}, 
      #{borrowdate,jdbcType=TIMESTAMP}, #{returndate,jdbcType=TIMESTAMP}, #{realdate,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=VARCHAR}, #{spare1,jdbcType=VARCHAR}, #{spare2,jdbcType=VARCHAR}, 
      #{spare3,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.education.pojo.Borrow" >
    insert into borrow
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="certno != null" >
        certNo,
      </if>
      <if test="educationid != null" >
        educationId,
      </if>
      <if test="borrowdate != null" >
        borrowDate,
      </if>
      <if test="returndate != null" >
        returnDate,
      </if>
      <if test="realdate != null" >
        realDate,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="spare1 != null" >
        spare1,
      </if>
      <if test="spare2 != null" >
        spare2,
      </if>
      <if test="spare3 != null" >
        spare3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="certno != null" >
        #{certno,jdbcType=VARCHAR},
      </if>
      <if test="educationid != null" >
        #{educationid,jdbcType=INTEGER},
      </if>
      <if test="borrowdate != null" >
        #{borrowdate,jdbcType=TIMESTAMP},
      </if>
      <if test="returndate != null" >
        #{returndate,jdbcType=TIMESTAMP},
      </if>
      <if test="realdate != null" >
        #{realdate,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="spare1 != null" >
        #{spare1,jdbcType=VARCHAR},
      </if>
      <if test="spare2 != null" >
        #{spare2,jdbcType=VARCHAR},
      </if>
      <if test="spare3 != null" >
        #{spare3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.education.pojo.BorrowExample" resultType="java.lang.Integer" >
    select count(*) from borrow
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <select id="getAllBorrow"  resultType="java.util.HashMap" >
   select p.id as userId,p.certNo as certNo,p.name as userName,bk.name as educationName,
bk.picUrl,bk.docUrl,bk.author,bk.`status`,bk.totalCount,bk.readCount,bk.borrowCount,
bk.publish,bk.price,b.educationId as educationId,b.borrowDate,b.returnDate,b.realDate,b.`status` as borrowStatus ,b.id as borrowId
from borrow b
left join person p on b.certNo = p.certNo
left join education bk on bk.id = b.educationId 
where 1 = 1
 <if test="param1 != null" >
       and b.status = #{param1,jdbcType = VARCHAR}
      </if>
 <if test="param2 != null" >
       and p.id = #{param2,jdbcType = VARCHAR};
      </if>
  </select>
  
  <update id="updateByExampleSelective" parameterType="map" >
    update borrow
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.certno != null" >
        certNo = #{record.certno,jdbcType=VARCHAR},
      </if>
      <if test="record.educationid != null" >
        educationId = #{record.educationid,jdbcType=INTEGER},
      </if>
      <if test="record.borrowdate != null" >
        borrowDate = #{record.borrowdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.returndate != null" >
        returnDate = #{record.returndate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.realdate != null" >
        realDate = #{record.realdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.spare1 != null" >
        spare1 = #{record.spare1,jdbcType=VARCHAR},
      </if>
      <if test="record.spare2 != null" >
        spare2 = #{record.spare2,jdbcType=VARCHAR},
      </if>
      <if test="record.spare3 != null" >
        spare3 = #{record.spare3,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update borrow
    set id = #{record.id,jdbcType=INTEGER},
      certNo = #{record.certno,jdbcType=VARCHAR},
      educationId = #{record.educationid,jdbcType=INTEGER},
      borrowDate = #{record.borrowdate,jdbcType=TIMESTAMP},
      returnDate = #{record.returndate,jdbcType=TIMESTAMP},
      realDate = #{record.realdate,jdbcType=TIMESTAMP},
      status = #{record.status,jdbcType=VARCHAR},
      spare1 = #{record.spare1,jdbcType=VARCHAR},
      spare2 = #{record.spare2,jdbcType=VARCHAR},
      spare3 = #{record.spare3,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.education.pojo.Borrow" >
    update borrow
    <set >
      <if test="certno != null" >
        certNo = #{certno,jdbcType=VARCHAR},
      </if>
      <if test="educationid != null" >
        educationId = #{educationid,jdbcType=INTEGER},
      </if>
      <if test="borrowdate != null" >
        borrowDate = #{borrowdate,jdbcType=TIMESTAMP},
      </if>
      <if test="returndate != null" >
        returnDate = #{returndate,jdbcType=TIMESTAMP},
      </if>
      <if test="realdate != null" >
        realDate = #{realdate,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="spare1 != null" >
        spare1 = #{spare1,jdbcType=VARCHAR},
      </if>
      <if test="spare2 != null" >
        spare2 = #{spare2,jdbcType=VARCHAR},
      </if>
      <if test="spare3 != null" >
        spare3 = #{spare3,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.education.pojo.Borrow" >
    update borrow
    set certNo = #{certno,jdbcType=VARCHAR},
      educationId = #{educationid,jdbcType=INTEGER},
      borrowDate = #{borrowdate,jdbcType=TIMESTAMP},
      returnDate = #{returndate,jdbcType=TIMESTAMP},
      realDate = #{realdate,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=VARCHAR},
      spare1 = #{spare1,jdbcType=VARCHAR},
      spare2 = #{spare2,jdbcType=VARCHAR},
      spare3 = #{spare3,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>