<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.education.dao.EvaItemMapper" >
  <resultMap id="BaseResultMap" type="com.education.pojo.EvaItem" >
    <id column="indexId" property="indexid" jdbcType="INTEGER" />
    <result column="iname" property="iname" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    indexId, iname
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.education.pojo.EvaItemExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from eva_item
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from eva_item
    where indexId = #{indexid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from eva_item
    where indexId = #{indexid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.education.pojo.EvaItemExample" >
    delete from eva_item
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.education.pojo.EvaItem" >
    insert into eva_item (indexId, iname)
    values (#{indexid,jdbcType=INTEGER}, #{iname,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.education.pojo.EvaItem" >
    insert into eva_item
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="indexid != null" >
        indexId,
      </if>
      <if test="iname != null" >
        iname,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="indexid != null" >
        #{indexid,jdbcType=INTEGER},
      </if>
      <if test="iname != null" >
        #{iname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.education.pojo.EvaItemExample" resultType="java.lang.Integer" >
    select count(*) from eva_item
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update eva_item
    <set >
      <if test="record.indexid != null" >
        indexId = #{record.indexid,jdbcType=INTEGER},
      </if>
      <if test="record.iname != null" >
        iname = #{record.iname,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update eva_item
    set indexId = #{record.indexid,jdbcType=INTEGER},
      iname = #{record.iname,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.education.pojo.EvaItem" >
    update eva_item
    <set >
      <if test="iname != null" >
        iname = #{iname,jdbcType=VARCHAR},
      </if>
    </set>
    where indexId = #{indexid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.education.pojo.EvaItem" >
    update eva_item
    set iname = #{iname,jdbcType=VARCHAR}
    where indexId = #{indexid,jdbcType=INTEGER}
  </update>
</mapper>